@import config

// CUSTOM USER STYLES & IMPORTS

.header
	padding: 50px 0
	*
		transition: $transition

.header-container
	position: relative

.logotype
	display: flex
	width: 195px
	height: 50px
	background: url('/images/logos/logotype.png') 50% no-repeat
	background-size: cover
	line-height: 100%

.ul-navigation
	padding: 0
	margin: 0 0 0 35px
	font-size: 14px
	.li-navigation-item
		list-style: none
		line-height: 100%
		margin: 0 15px
		a
			text-decoration: none
			color: rgba($black, 0.5)
			line-height: 100%
			&:hover
				color: rgba($black, 1)

.navigation--right > *
	margin-left: 10px

.navigation--right-item
	position: relative
	display: flex
	width: 40px
	height: 40px
	justify-content: center
	align-items: center
	border-radius: 5px
	// margin-left: 10px
	color: $darkblue
	font-size: 16px
	user-select: none
	&:hover
		color: $darkblue
		text-decoration: none
		background: rgba($darkblue, 0.05)
		cursor: pointer

.nav--item-icon
	width: 18px
	height: 18px
	display: flex
	&.icon-search, &.icon-user
		background-size: 18px !important
	&.icon-search
		background: url('/images/icons/search.png')
		background-position: bottom
	&.icon-user
		background: url('/images/icons/user.png')
		background-position: 50%
	&.icon-menu
		width: 25px
		height: 25px
		background: url('/images/icons/menu.png')
		background-position: 50%
		background-size: cover
	&.icon-langs
		background: url('/images/icons/langs.png')
		background-size: 21px
		background-position-x: center
		&.i-lang-ru
			background-position-y: 2px
		&.i-lang-en
			background-position-y: center
		&.i-lang-kz
			background-position-y: bottom

.nav--item-icon.icon-langs
	width: 21px

.languages-list--dropdown
	position: absolute
	top: 100%
	display: none
	margin-top: 5px
	background: white
	border-radius: 5px
	box-shadow: 0px 3px 3px rgba(43, 57, 144, 0.07)
	overflow: hidden
	z-index: 999
	a
		display: flex
		padding: 12px 9px
		&:hover
			background: rgba($darkblue, 0.1)
	&.show
		display: block
		animation: slide-top 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
	&.close
		animation: slide-down 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both


.navigation--right-search--showed
	display: none
	position: absolute
	top: 50%
	transform: translateY(-50%)
	right: 115px
	background: #e5e7f0
	border-radius: 5px
	z-index: 99
	transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1)
	&.open
		display: flex
		.navigation--right-item:hover
			background: unset
		.icon-search
			background-position-y: top
	&.show
		padding: 0 5px
		.search-input
			display: flex
			width: 100%
			padding-right: 10px

.navigation--right-search--showed-group
	display: flex
	flex-direction: row
	width: 100%

.search-input
	display: none
	background: unset
	border: none

.search-results-container
	display: none
	position: absolute
	top: 100%
	margin-top: 15px
	left: 0
	right: 0
	z-index: 999
	&.mobile
		margin: 0 15px
	&.show
		display: block
		animation: slide-top 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
	&.close
		animation: slide-down 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both

.search-results-block
	background: white
	border-radius: 5px
	box-shadow: 0px 3px 3px rgba(43, 57, 144, 0.07)
	overflow: hidden

.search-results-item
	display: flex
	padding: 18px 20px
	color: $black
	line-height: 100%
	&:hover
		color: $black
		background: rgba($darkblue, 0.1)
	&:after
		content: ''
		position: absolute
		right: 20px
		width: 16px
		height: 16px
		background: url('/images/icons/link.png') 50% no-repeat
		background-size: contain

img
	transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1)


.actual-first--link
	position: relative
	display: block
	height: 400px
	overflow: hidden
	border-radius: 5px
	color: white
	.actual-first--container-image
		position: absolute
		width: 100%
		height: 100%
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		min-height: 400px
		z-index: 1
		object-fit: cover
	&:hover
		.actual-first--container-image
			transform: translate(-50%, -50%) scale(1.1)

.actual-first--container-wrapper
	display: block
	position: absolute
	z-index: 1
	bottom: 40px
	right: 40px
	left: 40px
	z-index: 3

.actual-first--link:hover
	color: white

.bg-gradient
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	background: linear-gradient(180deg, rgba(42, 43, 50, 0) 0%, rgba(42, 43, 50, 0.9) 100%)
	z-index: 2

.actual-first--title
	font-size: 24px
	line-height: 120%
	margin: 10px 0
	font-weight: bold

.actual-first--desc
	margin: 0
	padding: 0
	font-size: 14px
	line-height: 150%

.actual-first--container--tags span, .actual-first--container-date
	opacity: 0.5
	font-size: 12px
	line-height: 100%

.actual-first--container--tags span
	margin-right: 10px
	&:hover
		opacity: 1

.article-row-block--image
	position: relative
	display: block
	min-width: 175px
	height: 120px
	border-radius: 5px
	overflow: hidden
	margin-right: 10px
	img
		position: absolute
		width: 100%
		height: 100%
		top: 50%
		left: 50%
		object-fit: cover
		transform: translate(-50%, -50%)
	&:hover
		img
			transform: translate(-50%, -50%) scale(1.1)

.actual-article
	margin-bottom: 20px
	&:last-child
		margin-bottom: 0

.article-row-block
	// display: flex
	color: $black
	&:hover
		color: $black

.article-row-block--image
	position: relative
	display: block
	min-width: 175px
	height: 120px
	border-radius: 5px
	overflow: hidden
	img
		position: absolute
		// min-width: 100%
		min-height: 120px
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)

.article-row-block--body
	display: block
	border-radius: 5px
	padding: 18px 20px 17px
	&:hover
		background: #FFFFFF
		box-shadow: 0px 3px 3px rgba(43, 57, 144, 0.07)
		transform: translateY(-5px)

.article-row-block--title
	font-size: 16px
	line-height: 100%
	margin: 16px 0 7px
	font-weight: normal

.article-row-block--desc
	font-size: 12px
	line-height: 140%
	opacity: 0.75
	margin: 0

.article-row-block-header
	font-size: 12px
	line-height: 100%

.article-row-block--date
	opacity: 0.5

.article-row-block--hashtag span
	opacity: 0.3
	margin-right: 10px
	&:hover
		color: $darkblue
		opacity: 1

.mobile-search--container, .mobile-menu--button
	display: none

.mobile-navigation-container
	position: absolute
	display: none
	margin-top: 20px
	top: 100%
	left: 0
	right: 0
	z-index: 99
	&.show
		display: block
		animation: slide-top 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
	&.close
		animation: slide-down 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both

.mobile-nav-item
	display: flex
	padding: 18px 20px
	color: $black
	line-height: 100%
	&:hover
		color: $black
		background: rgba($darkblue, 0.1)

.mobile-navigation
	background: white
	border-radius: 3px
	overflow: hidden
	box-shadow: $shadow

.actual-row
	padding: 50px 0 20px

.actual-row-article
	border-right: 1px solid rgba($gray, 0.1)
	&:last-child
		border-right: 0

.actual-row-item
	color: $black
	&:hover
		color: $black

.actual-row-header
	font-size: 12px
	line-height: 100%
	margin-bottom: 16px

.actual-row--hashtags span
	opacity: 0.3
	margin-right: 10px
	&:hover
		opacity: 1
		color: $darkblue
	&:last-child
		margin-right: 0

.actual-row--title
	font-weight: normal
	font-size: 16px
	line-height: 150%
	&:hover
		color: $darkblue

.actual-row--date
	opacity: 0.5

.more-articles
	padding-top: 20px

.more-button
	display: block
	width: 100%
	padding: 18px
	text-align: center
	font-size: 14px
	line-height: 100%
	color: rgba($black, 0.2)
	background: rgba($black, 0.03)
	border-radius: 3px
	border: 0
	outline: none
	&:hover
		color: rgba($black, 0.3)
		background: rgba($black, 0.06)

.guide-item
	position: relative
	display: flex
	height: 250px
	overflow: hidden
	border-radius: 5px
	align-items: flex-end
	color: white
	margin: 15px 0
	img
		position: absolute
		width: 100%
		height: 100%
		object-fit: cover
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		z-index: -2
	&:hover
		color: white
		img
			transform: translate(-50%, -50%) scale(1.1)

.guide-item--header
	font-size: 28px
	line-height: 100%
	z-index: 3
	margin: 40px

.actual-section
	margin: 0 !important

.guide-section
	padding: 15px 0
	margin-bottom: 0 !important
	margin-top: 15px !important

.help-section
	margin: 0 !important

.help-section--slider
	padding: 20px 0 !important

.help-item
	display: block
	text-align: center
	background: white
	padding: 45px
	color: $black
	border-radius: 5px
	// margin: 20px 0
	&:hover
		box-shadow: $shadow
		color: $black
		transform: translateY(-5px)

.help-item--title
	font-weight: 500
	font-size: 18px
	line-height: 100%
	margin-bottom: 15px

.help-item--desc
	margin-bottom: 0
	font-size: 14px
	line-height: 150%

.help-item--image
	height: 75px
	margin-bottom: 30px


.section-title-big
	font-size: 36px
	line-height: 100%
	margin-bottom: 10px
	text-align: center

.todo-section
	background: rgba($darkblue, 0.05)
	padding: 50px 0 30px
	margin-top: 30px !important

.todo-block
	position: relative
	display: block
	color: $black
	width: 100%
	max-height: 250px
	margin-bottom: 50px
	*
		transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1)
	&:hover
		color: $black
		.todo-block--title
			bottom: -15px
			box-shadow: $shadow
		.todo-block--image
			transform: translateY(-10px)


.todo-block--image
	display: block
	overflow: hidden
	border-radius: 5px
	img
		width: 100%
		max-height: 250px
		object-fit: cover
		border-radius: 5px

.todo-block--title
	display: block
	position: absolute
	bottom: -20px
	left: 40px
	right: 40px
	text-align: center
	background: white
	padding: 19px
	font-size: 18px
	line-height: 120%
	font-weight: bold
	z-index: 99
	border-radius: 5px

// .swipe-on
// 	// display: none
// 	opacity: 0
// 	// z-index: -1
// 	&:before, &:after
// 		content: ''
// 		display: block
// 		position: absolute
// 		top: 20px
// 		bottom: 20px
// 		width: 30px
// 		background: url('/images/icons/help-touch-gradient.png') 50% no-repeat
// 		background-size: cover
// 		z-index: 9
// 	&:before
// 		right: 0
// 	&:after
// 		transform: rotate(180deg)
// 		left: 0

.section
	margin: 50px 0

// .comercial-section
// 	padding: 25px 0

.section-title
	font-size: 28px
	line-height: 100%
	margin-bottom: 35px

.custom-item
	display: flex
	flex-direction: row
	color: black
	&.item-page
		.custom-item--title
			line-height: 130%
			margin-bottom: 13px
		.custom-item--header--left
			opacity: 0.5

.custom-item--image
	min-width: 246px
	max-width: 246px
	border-radius: 5px
	overflow: hidden
	margin-right: 15px
	max-height: 150px
	img
		width: 100%
		max-height: 150px
		object-fit: cover
	&:hover
		img
			transform: scale(1.1)


.custom-item:hover
	color: black

.custom-item--block
	width: 100%
	padding: 25px
	border-radius: 5px
	&:hover
		box-shadow: 0px 3px 3px rgba(43, 57, 144, 0.07)
		background: white
		transform: translateY(-5px)

.custom-item--header, .custom-item--bottom
	display: flex
	flex-direction: row

.custom-item--header > *, .custom-item--bottom > *
	flex-grow: 1
	line-height: 100%

.custom-item--header--right, .custom-item--bottom--right
	text-align: right

.custom-item--bottom--right
	opacity: 0.5

.custom-item--header
	font-size: 12px
	margin-bottom: 15px
	max-height: 12px

.custom-item--header--right
	opacity: 0.5

.custom-item--title
	font-weight: 500
	font-size: 18px
	line-height: 100%
	margin-bottom: 10px

.custom-item--desc
	margin-bottom: 17px
	line-height: 100%
	opacity: 0.5

.comercial-more
	margin-top: 25px

.star-icon
	display: inline-flex
	line-height: 100%
	height: 12px
	&:before
		content: ''
		width: 12px
		height: 12px
		background: url('/images/icons/star.png') 50% no-repeat
		background-size: cover
		margin-right: 2px
	&:last-child
		&::before
			margin-right: 0

.custom-container-row 
	> *
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0

.custom-container-col
	.custom-item
		flex-direction: column
	.custom-item--image
		max-width: 100%
		margin-right: 0
		margin-bottom: 15px

.section-header
	display: flex
	flex-direction: row
	align-items: center
	margin-bottom: 35px
	.section-title
		margin-bottom: 0
	> *
		flex-grow: 1
	.section-link
		text-align: right
	
.swiper--animated
	animation: swiper-showed 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
	animation-delay: 0.5s


.events-section
	padding: 50px 0
	background: rgba($darkblue, 0.05)

.events-block
	position: relative
	display: block
	width: 100%
	height: 400px !important
	overflow: hidden
	border-radius: 5px
	color: white
	// margin: 0 15px
	max-width: 585px
	img
		position: absolute
		width: 100%
		height: 100%
		top: 0
		border-radius: 5px
		object-fit: cover
	&:hover
		color: white
		img
			transform: scale(1.1)

.events-block--content
	display: block
	position: absolute
	bottom: 40px
	left: 40px
	right: 40px
	z-index: 3

.events-block--title
	font-size: 24px
	line-height: 120%
	margin-bottom: 10px

.events-block--desc
	font-size: 14px
	line-height: 150%
	margin-bottom: 0

.events-block--header
	display: flex
	flex-direction: row
	line-height: 100%
	margin-bottom: 15px
	> *
		flex-grow: 1

.events-block--header-right
	text-align: right
	opacity: 0.5

.footer-logotype
	display: block
	width: 195px
	height: 50px
	background: url('/images/logos/logotype-footer.png')
	background-size: 195px
	background-position: bottom
	opacity: 0.25
	transition: none

	&:hover
		opacity: 1
		background-position: top

.footer-icon
	display: inline-flex !important
	width: 30px
	height: 16px
	background: url('/images/icons/social.png')
	margin-bottom: 0 !important
	opacity: 0.25
	transition: none
	&:hover
		opacity: 1

.footer-socials
	margin-top: 35px

.footer a
	display: flex
	font-size: 14px
	line-height: 150%
	margin-bottom: 10px
	color: rgba($black, 0.25)

	&:hover
		color: $darkblue

.footer-description span
	display: block
	margin-bottom: 20px
	opacity: 0.25

.footer
	padding: 40px 0
	margin-top: 100px
	border-top: 1px solid rgba($darkblue, 0.1)

.footer-icon
	&.i-vk
		background: url('/images/icons/vk.png') 50% no-repeat
		background-size: 28px
		background-position: top
	background-position: top !important
	&:hover
		background-position: bottom !important
	&.i-vk
		background: url('/images/icons/vk.png') 50% no-repeat
		background-size: 28px

	&.i-fb
		background: url('/images/icons/fb.png') 50% no-repeat
		background-size: 8px

	&.i-insta
		background: url('/images/icons/insta.png') 50% no-repeat
		background-size: 16px

	&.i-yt
		background: url('/images/icons/yt.png') 50% no-repeat
		background-size: 23px

.footer-callback
	margin-top: 40px

.footer-callback--button
	display: block !important
	text-align: center
	font-size: 14px
	line-height: 100% !important
	padding: 16px
	border: 1px solid rgba($black, 0.25)
	border-radius: 5px
	margin-bottom: 0 !important

	&:hover
		border: 1px solid

.footer-callback--line
	display: block
	width: 100%
	height: 1px
	background: #2B3990
	opacity: 0.1

.footer-parallax
	display: block
	width: 170px
	height: 24px
	background: url('/images/logos/parallax.png') 50% no-repeat
	background-position: top
	background-size: 170px
	opacity: 0.25
	transition: none

	&:hover
		opacity: 1
		background-position: bottom

@media only screen and (max-width: 1200px)
	.logotype
		width: 156px
		height: 40px
	// .navigation, .navigation--right-search--container
	.navigation
		display: none !important
	.mobile-search--container, .mobile-menu--button
		display: flex
	.mobile-menu--button 
		margin-right: 10px
	.header
		padding: 30px 0

@media only screen and (max-width: 576px)
	body
		padding-top: 80px
	.header
		position: fixed
		top: 0
		left: 0
		right: 0
		padding: 10px 0
		background: white
		border-bottom: 1px solid rgba($darkblue, 0.1)
		z-index: 9999
	.navigation--right > *
		margin-left: 0
	.logotype
		width: 126px
		background-size: contain
	.navigation--right-search--showed
		right: 95px
	.search-results-container.mobile
		margin-top: 20px
	.todo-block--title
		left: 30px
		right: 30px
	.guide-item--header
		margin: 30px
		font-size: 24px
@media only screen and (max-width: 372px)
	.logotype
		width: 40px
		background: url('/images/logos/mobile.png') 50% no-repeat
		background-size: contain
	.todo-block
		margin: 20px 0
	.todo-block--title
		left: 20px
		right: 20px
		font-size: 16px
		padding: 15px
	.section-title-big
		// font-size: 26px
		line-height: 130%
	.guide-item--header
		line-height: 130%