@import config
@import "blocks/**/*"

.main-header
	margin: 50px 0

.logotype
	display: flex
	margin-right: 50px
	img
		max-height: 110px

.logotyp-text
	font-size: 28px
	color: black
	font-weight: bold
	padding: 20px 0
	&:hover
		color: $main-color

.header-socials
	display: flex
	align-items: center

.header-social--item
	display: flex
	align-items: center
	color: white
	opacity: 0.25
	margin-right: 20px
	&::before
		content: ''
		display: flex
		height: 18px
	&.instagram::before
		width: 18px
		margin-right: 7px
		background: url('../images/dist/icons/instagram.svg')
	&.facebook::before
		width: 9px
		margin-right: 10px
		background: url('../images/dist/icons/facebook.svg')
	&:hover
		color: white
		opacity: 1

.menu--btn
	display: flex
	cursor: pointer
	&:before
		content: ''
		display: flex
		width: 30px
		height: 16px
		background: url('../images/dist/icons/menu.svg')
	&:active
		opacity: 0.5

.cart--btn
	display: flex
	align-items: center
	font-size: 16px
	line-height: 19px
	text-align: right
	margin-right: 10px
	color: rgba(white, 0.5	)
	&:after
		content: ''
		display: block
		width: 21px
		min-width: 21px
		height: 20px
		background: url('../images/dist/icons/cart.svg')
		margin-left: 10px
		background-size: 100%
	&:hover
		color: $main-color
	&.isset
		background: $main-color
		padding: 10px 20px
		border-radius: 10px
		font-size: 20px
		font-family: $customFont
		color: white
		&::after
			display: none
		&::before
			content: ''
			display: flex
			width: 21px
			height: 20px
			background: url('../images/dist/icons/cart.svg')
			background-position-y: center
			margin-right: 7px
		&:hover
			background: darken($main-color, 10%)

.user-btn
	display: flex
	align-items: center
	padding: 10px 15px
	border-radius: 10px
	&::before
		display: block
		content: ''
		width: 16px
		height: 20px
		background: url('../images/dist/icons/user.svg') no-repeat
	&:hover
		background-color: $main-color
		&::before
			background-position-y: bottom !important
			

// 

.main-slider--container
	position: relative

	.swiper-button-next
		right: -50px

	.swiper-button-prev
		left: -50px

	.swiper-pagination-bullet
		width: 10px
		height: 10px
		background: rgba(white, 0.5)
		margin: 0 7px !important
		transition: $transition

	.swiper-pagination-bullet-active
		background: $main-color
		width: 14px
		height: 14px

	.swiper-pagination
		left: 50%
		transform: translateX(-50%)
		display: flex
		align-items: center
		justify-content: center
		bottom: 18px

.slide--item, .swiper-slide
	display: block
	overflow: hidden
	max-height: 350px
	border-radius: 10px
	img
		width: 100%

.swiper-button-next, .swiper-button-prev
	&:after
		color: rgba(black, 0.1)
	&:hover
		&:after
			color: $main-color

.menu-catalog
	position: sticky
	top: 0
	display: flex
	padding: 25px 0 0
	margin: 25px 0 50px
	overflow-y: auto
	background: #1A1717
	z-index: 9999
	&::-webkit-scrollbar
    	display: none

// 

.c-container
	width: 1320px
	margin: 0 auto

// 

.catalog-section
	padding: 70px
	background: rgba(255, 255, 255, 0.02)
	border-radius: 25px
	margin: 50px 0

.catalog-section--header
	display: flex
	align-items: center
	// margin-bottom: 40px

.catalog-section--title
	font-family: $customFont
	font-size: 48px
	line-height: 48px
	margin-bottom: 0
	flex-grow: 1

.spoiler-btn
	display: flex
	align-items: center
	font-size: 18px
	color: $main-color
	transition: $transition
	user-select: none
	cursor: pointer
	&::after
		content: ''
		display: flex
		width: 13px
		height: 7px
		background: url('../images/dist/icons/arrow-red.svg')
		margin-left: 7px
		transform: rotate(-90deg)
	&.active::after
		transform: rotate(0deg)
	&:active
		opacity: 0.5

.catalog-section--content
	padding-top: 40px

.product-card
	position: relative
	display: flex
	align-items: center
	flex-direction: column
	padding: 20px
	border-radius: 15px
	border: 1px solid rgba(255, 255, 255, 0)
	transition: $transition-fast
	&:hover
		background: rgba(255, 255, 255, 0.03)
		border: 1px solid rgba(255, 255, 255, 0.07)
		transform: scale(1.075)

.product-card--image
	margin-bottom: 20px


.product-card--title
	font-family: $customFont
	text-align: center
	font-size: 24px
	line-height: 24px
	color: white

.product-card--price
	font-family: $customFont
	font-size: 24px
	margin: 10px 0 15px
	text-align: center
	color: $main-color
	line-height: 24px

.product-card--cart
	position: absolute
	top: 170px
	right: 25px
	z-index: 9
	transition: $transition-fast
	&:hover
		transform: scale(1.2)
		// transform: translateY(-3px)

.product-card--cart-btn
	display: flex
	align-items: center
	justify-content: center
	width: 30px
	height: 30px
	background: white
	border-radius: 90px
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.03), 0px 10px 24px rgba(44, 39, 56, 0.02), 0px 15px 48px rgba(44, 39, 56, 0.04)
	cursor: pointer
	&::before
		content: ''
		display: block
		width: 12px
		height: 12px
		background: url('../images/dist/icons/plus.svg')

.product-card--cart-qty
	display: none
	align-items: center
	background: $main-color
	padding: 4px 9px
	border-radius: 90px

.product-card--cart-qty--minus, .product-card--cart-qty--plus
	cursor: pointer
	&::before
		content: ''
		display: flex
		width: 12px
		height: 12px

.product-card--cart-qty--plus
	&::before
		background: url('../images/dist/icons/plus.svg')
		background-position-y: bottom

.product-card--cart-qty--minus
	&::before
		background: url('../images/dist/icons/minus.svg') no-repeat 50%
	&.close
		&::before
			background: url('../images/dist/icons/plus.svg')
			transform: rotate(45deg)

.product-card--cart-qty--input
	font-size: 18px
	text-align: center
	background: none
	border: 0
	color: white
	font-family: $customFont
	width: 35px

// 


.footer-section--btn
	position: relative
	display: flex
	align-items: center
	padding: 70px
	background: rgba(255, 255, 255, 0.02)
	border-radius: 25px
	height: 300px
	margin-bottom: 50px
	overflow: hidden
	color: white
	transition: $transition
	.footer-section--btn-text
		max-width: 225px
	&:hover
		color: white
		transform: translateY(-5px)
		.footer-section--btn-image
			transform: scale(1.05)

.footer-section--btn-title
	font-weight: bold
	font-size: 36px
	margin-bottom: 20px
	line-height: 100%

.footer-section--btn-desc
	font-weight: normal
	font-size: 18px
	line-height: 140%
	margin-bottom: 0

.footer-section--btn-image
	transition: $transition-fast
	&.office-model
		position: absolute
		width: 300px
		height: 300px
		right: 0
	&.man
		position: absolute
		width: 360px
		height: 300px
		right: 0
		background-position-x: center !important

.footer-footer
	padding: 70px
	background: rgba(255, 255, 255, 0.02)
	border-radius: 25px

.copyrite
	margin-right: 50px
	p
		max-width: 188px
		font-size: 14px
		line-height: 140%

.download-btn
	display: flex
	margin-left: 20px
	height: 40px
	&.google
		width: 136px
		background: url('../images/dist/icons/google-btn.svg')
	&.appstore
		width: 120px
		background: url('../images/dist/icons/appstore-btn.svg')

.production
	margin: 50px
	a
		opacity: 0.15
		&:hover
			opacity: 0.25

// 

.menu-catalog--item
	display: flex
	align-items: center

.menu-catalog--item
	position: relative
	padding-bottom: 16px
	margin-right: 32px
	transition: $transition-fast
	&::after
		content: ''
		position: absolute
		width: 100%
		height: 2px
		background: rgba($main-color, 0.25)
		bottom: 0
	&.active, &:hover
		&::after
			background: rgba($main-color, 1)
	.menu-catalog--item-image
		display: flex
		width: 30px
		height: 30px
		margin-right: 14px
		img
			width: 100%
			height: 100%
			object-fit: contain
		

.menu-catalog--item-text
	font-size: 18px
	color: white

//

.product-page--container
	padding: 70px 0
	background: rgba(255, 255, 255, 0.02)
	border-radius: 25px

.product-page
	margin-bottom: 50px

.product-page--title-link
	font-family: $customFont
	font-style: normal
	font-weight: normal
	font-size: 48px
	line-height: 100%
	color: white
	margin-right: 30px

	&.opacity
		opacity: 0.25

.product-page--image
	display: flex
	width: 100%
	height: 300px
	margin-bottom: 40px
	img
		width: 100%
		height: 100%
		object-fit: contain

.product-page--desc
	margin-top: 40px

.product-page--desc-titles
	display: flex
	align-items: center
	margin-bottom: 25px

.product-page--desc-title
	font-weight: 500
	font-size: 24px
	line-height: 100%
	opacity: 0.25
	display: flex
	align-items: center
	cursor: pointer
	&.active
		opacity: 1
		&:hover
			opacity: 1 !important
	&:first-child::after
		content: ''
		display: flex
		width: 1px
		height: 15px
		background: rgba(white, 0.25)
		margin: 0 15px
	&:hover
		opacity: 0.5

.product-page--desc-text
	display: none
	&.active
		display: block
		

.product-page--desc-texts
	font-weight: normal
	font-size: 14px
	line-height: 150%
	opacity: 0.5

.product-title
	font-family: $customFont
	font-style: normal
	font-weight: normal
	font-size: 48px
	line-height: 100%
	margin-bottom: 15px

.product-price
	font-family: $customFont
	font-style: normal
	font-weight: normal
	font-size: 36px
	line-height: 100%
	color: #D62631

.product-prices, .product-option--item
	margin-bottom: 30px

.default-label
	font-size: 16px
	line-height: 100%
	opacity: 0.3
	margin-bottom: 15px

	span
		color: #D62631

input
	&[type=radio]
		display: none

	&[type="radio"]:checked + label.radio-btn:before
		content: ''
		position: absolute
		display: block
		top: 0
		left: 0
		right: 0
		bottom: 0
		border-radius: 7px
		border: 2px solid #d62631

.radio-btn
	position: relative
	display: flex
	justify-content: center
	padding: 20px
	font-size: 16px
	line-height: 100%
	margin-bottom: 0
	border-radius: 7px
	cursor: pointer
	user-select: none
	transition: $transition
	&.bun-one
		background: #F4CE92
		color: black

	&.bun-two
		background: #262626

	&.roasting-one
		background: rgba(214, 38, 49, 0.25)

	&.roasting-two
		background: rgba(214, 38, 49, 0.4)

	&.roasting-three
		background: rgba(214, 38, 49, 0.7)

.product-cart-btn--add
	padding: 20px 20px 19px
	display: flex
	justify-content: center
	width: 100%
	border: 0
	background: #2DA771
	font-size: 16px
	line-height: 100%
	border-radius: 7px
	color: white

	&:hover
		background: #289564

.product-cart-btn--input
	font-family: $customFont
	font-style: normal
	font-weight: normal
	font-size: 24px
	line-height: 100%
	text-align: center
	padding: 16px 0 15px
	border: 0
	border-radius: 7px
	height: 55px
	width: 100%

.product-option-cart--input
	position: relative


.product-cart-btn--minus, .product-cart-btn--plus
	position: absolute
	top: 50%
	transform: translateY(-50%)
	display: flex
	align-items: center
	width: 18px
	height: 18px
	cursor: pointer
	user-select: none

.product-cart-btn--plus
	right: 15px
	&:before
		content: ''
		display: flex
		width: 18px
		height: 18px
		background: url('../images/dist/icons/plus.svg')
		background-size: cover

.product-cart-btn--minus
	left: 15px
	&:before
		content: ''
		width: 18px
		height: 2px
		background: #D62631
		border-radius: 10px

@import media